.matchhistorycard {
    min-height: 100px;
    min-width: 100%;
}

.matchhistoryplayer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.matchhistorycontainer {
    min-width: 100%
}

.matchhistorystats {
    font-size: 15px;
}

.matchhistorytimemode {
    padding-left: 1%;
}

a:hover {
    color: #7ac6ff;
}