
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&family=Questrial&family=Roboto+Mono:wght@100&family=Roboto:wght@300;100&family=Sawarabi+Mincho&family=Tinos&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.matchhistorycard {
    min-height: 100px;
    min-width: 100%;
}

.matchhistorycontainer {
    min-width: 100%
}

.matchhistorystats {
    font-size: 15px;
}

.matchhistorytimemode {
    padding-left: 1%;
}

a:hover {
    color: #7ac6ff;
}

.search-player-name-button-text {
    color: black;
}