

.matchhistorycard {
    max-width: 690px;
    min-height: 179px;
    max-height: 100px;
}


.matchhistorychampandrunes {
    font-size: 13px;
}

.matchhistorytimemode {
    padding-left: 1%;
}

a:hover {
    color: #7ac6ff;
}
