.matchhistorycard {
    min-height: 100px;
    min-width: 100%;
}

.matchhistorycontainer {
    min-width: 100%
}

.matchhistorystats {
    font-size: 15px;
}

.matchhistorytimemode {
    padding-left: 1%;
}

a:hover {
    color: #7ac6ff;
}

.search-player-name-button-text {
    color: black;
}
